Repository hmcts/ccd-api-gateway, pull requests merged in 2019-12, with the labels that each got.

#264 RDM-5535 Add nocache middleware
  app.js
  package.json
  yarn.lock
Labels: ns:ccd-api-gateway-web-pr-264

#270 RDM-5806 Update CORS whitelists
  charts/ccd-api-gateway-web/values.aat.template.yaml
  charts/ccd-api-gateway-web/values.preview.template.yaml
  charts/ccd-api-gateway-web/values.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
Labels: ns:ccd-api-gateway-web-pr-270

#263 Release cut 15.2
  app/oauth2/access-token-request.js
  app/oauth2/oauth2-route.js
  test/oauth2/access-token-request.spec.js
  test/oauth2/oauth2-route.spec.js
  yarn-audit-known-issues
Labels: ns:ccd-api-gateway-web-pr-263

#266 RDM-6635 pay bulkscan integration
  app.js
  charts/ccd-api-gateway-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/main.tf
Labels: ns:ccd-api-gateway-web-pr-266

#276 Revert " RDM-6635 pay bulkscan integration"
  app.js
  charts/ccd-api-gateway-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/main.tf
Labels: ns:ccd-api-gateway-web-pr-276
