Repository hmcts/ccd-api-gateway, pull requests merged in 2019-11, with the labels that each got.

#259 switch to http from https as per confirmation with mv team
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd-api-gateway-web-pr-259

#253 Rc1+mv
  .project
  app.js
  charts/ccd-api-gateway-web/values.aat.template.yaml
  charts/ccd-api-gateway-web/values.preview.template.yaml
  charts/ccd-api-gateway-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd-api-gateway-web-pr-253

#242 Rdm 5608
  app/oauth2/access-token-request.js
  app/oauth2/oauth2-route.js
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
  package.json
  test/oauth2/access-token-request.spec.js
  test/oauth2/oauth2-route.spec.js
  yarn.lock
Labels: ns:ccd-api-gateway-web-pr-242

#261 RDM-5534 : Fix Strict transport security not enforced on pages
  app.js
  app/security/hsts.js
  test/security/hsts.spec.js
Labels: checkpoint, ns:ccd-api-gateway-web-pr-261

#269 RDM-6674-updated chart, compatible with laetst HELM and CVE fixes
  charts/ccd-api-gateway-web/Chart.yaml
  package.json
  yarn.lock
Labels: ns:ccd-api-gateway-web-pr-269

#262 RDM-5533 Disable Server and X-Powered-By headers
  app.js
  web.config
Labels: ns:ccd-api-gateway-web-pr-262
