Repository hmcts/ccd-api-gateway, pull requests merged in 2019-09, with the labels that each got.

#244 bump up base chart version
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/requirements.yaml
Labels: ns:ccd-api-gateway-web-pr-244

#243 RDM-5586: Publish Annotation APIs From CCD Gateway
  .project
  app.js
  charts/ccd-api-gateway-web/values.aat.template.yaml
  charts/ccd-api-gateway-web/values.preview.template.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: enhancement, ns:ccd-api-gateway-web-pr-243

#245 RDM-5929 - Updated itch.tfvars as per the description in the ticket c…
  infrastructure/ithc.tfvars
  package.json
  yarn.lock
Labels: ns:ccd-api-gateway-web-pr-245
