Repository hmcts/ccd-api-gateway, pull requests merged in 2020-08, with the labels that each got.

#338 RDM-9006 - Periodic Confirmation/Assurance of Continued Integrity on Preview Develop-to-Develop
  ccd-yarn-audit-known-issues
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-338

#334 Release cut 19.1
  bin/run-yarn-audit.sh
  ccd-yarn-audit-known-issues
  charts/ccd-api-gateway-web/values.preview.template.yaml
  infrastructure/main.tf
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-334

#335 RDM-7783 - Add nosniff
  Jenkinsfile_CNP
  app.js
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-335

#339 enhance pipeline logic per build type
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-339
