Repository hmcts/ccd-api-gateway, pull requests merged in 2020-07, with the labels that each got.

#316 Remove default secrets
  config/default.yaml
  config/test.yaml
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-316

#331 use 12-alpine image
  Dockerfile
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/values.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-331

#336 CCD Apps Not Working Develop-to-Develop on Preview
  bin/run-yarn-audit.sh
  ccd-yarn-audit-known-issues
  package.json
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-336

#330 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/requirements.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-330
