Repository hmcts/ccd-api-gateway, pull requests merged in 2020-05, with the labels that each got.

#320 RDM-8303 - Caching of /userinfo calls
  app/cache/cache-config.js
  app/cache/cache-service.js
  app/oauth2/logout-route.js
  app/user/cached-user-resolver.js
  app/user/user-request-authorizer.js
  app/user/user-resolver.js
  app/util/jwt.js
  charts/ccd-api-gateway-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/test.yaml
  package.json
  test/cache/cache-service.spec.js
  test/oauth2/logout-route.spec.js
  test/user/cached-user-resolver.spec.js
  test/user/user-request-authorizer.spec.js
  test/util/jwt.spec.js
  yarn.lock
Labels: ns:ccd, rel:ccd-api-gateway-web-pr-320

#324 RDM-8303- Cache /o/userprofile calls
  app/cache/cache-config.js
  app/cache/cache-service.js
  app/oauth2/logout-route.js
  app/user/cached-user-resolver.js
  app/user/user-request-authorizer.js
  app/user/user-resolver.js
  app/util/jwt.js
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/test.yaml
  package.json
  test/cache/cache-service.spec.js
  test/oauth2/logout-route.spec.js
  test/user/cached-user-resolver.spec.js
  test/user/user-request-authorizer.spec.js
  test/util/jwt.spec.js
  yarn.lock
Labels: ns:ccd, rel:ccd-api-gateway-web-pr-324

#322 RDM-8393 Update nodejs-healthcheck to 1.6.0
  package.json
  yarn.lock
Labels: ns:ccd, rel:ccd-api-gateway-web-pr-322

#326 Rm-installcharts()
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-api-gateway-web-pr-326
