Repository hmcts/ccd-api-gateway, pull requests merged in 2020-11, with the labels that each got.

#344 RDM-9551-TF
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-344

#352 Release cut 20.1
  app.js
  app/security/timing.js
  bin/run-yarn-audit.sh
  ccd-yarn-audit-known-issues
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/values.preview.template.yaml
  charts/ccd-api-gateway-web/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/ethosldata.tfvars
  package.json
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-352

#354 Rdm 10197
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/values.yaml
  package.json
  test/health/health-check.spec.js
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-354

#355 RDM-10294 Fix All Recent CVEs in All CCD Apps
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-355

#356 adjust autoscaling
  charts/ccd-api-gateway-web/Chart.yaml
  charts/ccd-api-gateway-web/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-356
