Repository hmcts/ccd-api-gateway, pull requests merged in 2022-02, with the labels that each got.

#415 Suppressing CVE-2022-0536
  yarn-audit-known-issues
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-415

#416 Fix CVE-2022-0536 and remove suppression
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-416

#418 helm update
  charts/ccd-api-gateway-web/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-418

#419 update helm chart version
  charts/ccd-api-gateway-web/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-api-gateway-web-pr-419
